@font-face {
  font-family: "iconfont"; /* Project id 4649857 */
  src: url('iconfont.woff2?t=1723293914402') format('woff2'),
       url('iconfont.woff?t=1723293914402') format('woff'),
       url('iconfont.ttf?t=1723293914402') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai16:before {
  content: "\e610";
}

.icon-biaoqing:before {
  content: "\e681";
}

.icon-zuixiaohua:before {
  content: "\e67a";
}

.icon-zhediemianban:before {
  content: "\e6a0";
}

.icon-yonghu:before {
  content: "\e60a";
}

.icon-shoucang:before {
  content: "\e617";
}

.icon-luxiang:before {
  content: "\e646";
}

.icon-youxiang:before {
  content: "\e664";
}

.icon-tupian:before {
  content: "\e607";
}

.icon-gerenkongjian:before {
  content: "\e67b";
}

.icon-dianhua:before {
  content: "\e632";
}

.icon-guanbi:before {
  content: "\e633";
}

.icon-gengduo:before {
  content: "\e648";
}

.icon-wenjian:before {
  content: "\e63b";
}

.icon-zuidahua:before {
  content: "\e651";
}

.icon-diandiandian:before {
  content: "\e628";
}

.icon-youxi:before {
  content: "\e8a1";
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
